<section class="events">
  <h2 class="events-heading">Explore Our Upcoming Workshop Schedule</h2>
  <p class="events-text">
    Join us for immersive plein air drawing workshops. Experience nature while
    honing your artistic skills.
  </p>
  <div class="events-block">
    <div class="events-card">
      <img
        class="events-img"
        src="../img/events/events-1.jpg"
        srcset="../img/events/events-1.jpg 1x, ../img/events/events-1@2x.jpg 2x"
        alt="Morning Light Sketching"
      />
      <ul class="events-list">
        <li class="event-item">
          <svg class="events-icon" width="24" height="24">
            <use href="../img/icon/icons-sprite.svg#map"></use>
          </svg>
          <a class="events-link" href="#">Central Park Meadow</a>
        </li>
        <li class="event-item">
          <time class="events-time" datetime="2026-06-09T08:00"
            >09 Jun 8:00 am</time
          >
        </li>
      </ul>
      <h3 class="event-caption">Morning Light Sketching</h3>
      <button class="events-btn" type="button">Register</button>
    </div>
    <div class="events-card">
      <img
        class="events-img"
        src="../img/events/events-2.jpg"
        srcset="../img/events/events-2.jpg 1x, ../img/events/events-2@2x.jpg 2x"
        alt="Floral Focus: Painting Wildflowers"
      />
      <ul class="events-list">
        <li class="event-item">
          <svg class="events-icon" width="24" height="24">
            <use href="../img/icon/icons-sprite.svg#map"></use>
          </svg>
          <a class="events-link" href="#">Riverside Botanical Trail</a>
        </li>
        <li class="event-item">
          <time class="events-time" datetime="2026-06-10T17:00"
            >10 Jun 5:00 pm</time
          >
        </li>
      </ul>
      <h3 class="event-caption">Floral Focus: Painting Wildflowers</h3>
      <button class="events-btn" type="button">Register</button>
    </div>
    <div class="events-card">
      <img
        class="events-img"
        src="../img/events/events-3.jpg"
        srcset="../img/events/events-3.jpg 1x, ../img/events/events-3@2x.jpg 2x"
        alt="Color & Composition Basics"
      />
      <ul class="events-list">
        <li class="event-item">
          <svg class="events-icon" width="24" height="24">
            <use href="../img/icon/icons-sprite.svg#map"></use>
          </svg>
          <a class="events-link" href="#">Forest Edge Retreat</a>
        </li>
        <li class="event-item">
          <time class="events-time" datetime="2026-06-11T19:00"
            >11 Jun 7:00 pm</time
          >
        </li>
      </ul>
      <h3 class="event-caption">Color &amp; Composition Basics</h3>
      <button class="events-btn" type="button">Register</button>
    </div>
    <div class="events-card">
      <img
        class="events-img"
        src="../img/events/events-4.jpg"
        srcset="../img/events/events-4.jpg 1x, ../img/events/events-4@2x.jpg 2x"
        alt="Drawing Stillness: Meditative Sketching"
      />
      <ul class="events-list">
        <li class="event-item">
          <svg class="events-icon" width="24" height="24">
            <use href="../img/icon/icons-sprite.svg#map"></use>
          </svg>
          <a class="events-link" href="#">Willow Grove Field</a>
        </li>
        <li class="event-item">
          <time class="events-time" datetime="2026-06-14T20:00"
            >14 Jun 8:00 pm</time
          >
        </li>
      </ul>
      <h3 class="event-caption">Drawing Stillness: Meditative Sketching</h3>
      <button class="events-btn" type="button">Register</button>
    </div>
    <div class="events-card">
      <img
        class="events-img"
        src="../img/events/events-5.jpg"
        srcset="../img/events/events-5.jpg 1x, ../img/events/events-5@2x.jpg 2x"
        alt="Golden Hour Landscape Study"
      />
      <ul class="events-list">
        <li class="event-item">
          <svg class="events-icon" width="24" height="24">
            <use href="../img/icon/icons-sprite.svg#map"></use>
          </svg>
          <a class="events-link" href="#">Sunset Ridge Hilltop</a>
        </li>
        <li class="event-item">
          <time class="events-time" datetime="2026-06-15T20:00"
            >15 Jun 8:00 pm</time
          >
        </li>
      </ul>
      <h3 class="event-caption">Golden Hour Landscape Study</h3>
      <button class="events-btn" type="button">Register</button>
    </div>
  </div>
</section>
