<section class="feedbacks-section">
  <div class="container feedbacks-container">
    <h2 class="title feedbacks-title">Customer testimonials</h2>
    <ul class="feedbacks-list">
      <li class="feedbacks-item">
        <ul class="feedbacks-stars-list">
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-text">
          “An unforgettable way to reconnect with nature and creativity. I came
          home with a full sketchbook and a peaceful mind.”
        </p>
        <h3 class="feedbacks-subtitle">Julia Nguyen</h3>
      </li>
      <li class="feedbacks-item">
        <ul class="feedbacks-stars-list">
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-outline"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-text">
          “WildSketch helped me rediscover my love for drawing. The instructors
          were kind, encouraging, and deeply inspiring.”
        </p>
        <h3 class="feedbacks-subtitle">Mark Leblanc</h3>
      </li>
      <li class="feedbacks-item">
        <ul class="feedbacks-stars-list">
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-text">
          “Beautiful locations, great energy, and a supportive community. I’m
          not a professional artist, but I felt totally welcomed.”
        </p>
        <h3 class="feedbacks-subtitle">Sofia Mendes</h3>
      </li>
      <li class="feedbacks-item">
        <ul class="feedbacks-stars-list">
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-outline"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-text">
          “Sketching outdoors in the golden hour was magical. Highly recommend
          for anyone looking to slow down and create.”
        </p>
        <h3 class="feedbacks-subtitle">Daniel Ortiz</h3>
      </li>
      <li class="feedbacks-item">
        <ul class="feedbacks-stars-list">
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-text">
          “The team made everything feel effortless and joyful. I learned so
          much and met wonderful people along the way.”
        </p>
        <h3 class="feedbacks-subtitle">Anika Shah</h3>
      </li>
      <li class="feedbacks-item">
        <ul class="feedbacks-stars-list">
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-filled"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg>
              <use
                href="../img/icon/icons-sprite.svg#star-outline"
                width="20"
                height="19"
              ></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-text">
          “Such a wholesome and uplifting experience. WildSketch is now my go-to
          escape when I need a creative reset.”
        </p>
        <h3 class="feedbacks-subtitle">Thomas Becker</h3>
      </li>
    </ul>
  </div>
</section>
