<footer class="footer">
  <div class="footer-top">
    <svg class="footer-logo" width="160" height="111">
      <use href="../img/icon/icons-sprite.svg#company-logo"></use>
    </svg>
    <ul class="footer-nav">
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#benefits">Benefits</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#gallery">Gallery</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#event">Event</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#team">Team</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#feedback">Feedback</a>
      </li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p class="footer-bottom-text">&copy; 2025 WildDraw. All rights reserved.</p>
  </div>
</footer>
