<section class="gallery-section">
    <div class="container">
        <h2 class="gallery-subtitle"></h2>
        <p class="gallery-caption"></p>
        <ul class="gallery-list">
            <li class="gallery-list-item" ><img class="gallery-img" src="" alt=""></li>
            <li class="gallery-list-item" ><img class="gallery-img" src="" alt=""></li>
            <li class="gallery-list-item" ><img class="gallery-img" src="" alt=""></li>
            <li class="gallery-list-item" ><img class="gallery-img" src="" alt=""></li>
            <li class="gallery-list-item" ><img class="gallery-img" src="" alt=""></li>
            <li class="gallery-list-item" ><img class="gallery-img" src="" alt=""></li>
            <li class="gallery-list-item" ><img class="gallery-img" src="" alt=""></li>
        </ul>
    </div>
</section>