<div class="mobile-menu" id="mobile-menu">
  <div class="container mobile-menu-container">
    <button
      type="button"
      class="mobile-menu-close-btn"
      id="mobile-menu-close"
      aria-label="Close mobile menu"
    >
      <svg class="mobile-menu-close-icon" width="28" height="28">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list">
        <li class="mobile-menu-nav-item">
          <a href="#hero" class="mobile-menu-nav-link">Home</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a href="#benefits" class="mobile-menu-nav-link">Benefits</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a href="#gallery" class="mobile-menu-nav-link">Gallery</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a href="#events" class="mobile-menu-nav-link">Events</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a href="#team" class="mobile-menu-nav-link">Team</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a href="#feedbacks" class="mobile-menu-nav-link">Feedbacks</a>
        </li>
      </ul>
    </nav>

    <a href="#register" class="mobile-menu-register-btn">Register</a>
  </div>
</div>
